In [153]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import warnings
def custom_warning_format(message, category, filename, lineno, file=None, line=None):
    return f'{filename}:{lineno}: {category.__name__}: {message}\n'

In [154]:
x1 = pd.read_csv('C:/Users/FRANK/Desktop/Proyectos Linkedin/Python Proyectos/Dia 10/test.csv')  # Utilizar la data de train.csv para hallar la data de test.csv
x2 = pd.read_csv('C:/Users/FRANK/Desktop/Proyectos Linkedin/Python Proyectos/Dia 10/train.csv') # Trabajar con este dataset

In [155]:

print('Número de observaciones (filas) = {}'.format(x1.shape[0]))
print('Total de variables disponibles (columnas) = {} '.format(x1.columns.shape[0]))
print('Columnas que cuentan con un valor nulo -')
print(x1.isnull().sum())

Número de observaciones (filas) = 4277
Total de variables disponibles (columnas) = 13
Columnas que cuentan con un valor nulo -
PassengerId       0
HomePlanet       87
CryoSleep        93
Cabin           100
Destination      92
Age              91
VIP              93
RoomService      82
FoodCourt       106
ShoppingMall     98
Spa             101
VRDeck           80
Name             94
dtype: int64

In [156]:

print('Número de observaciones (filas) = {}'.format(x2.shape[0]))
print('Total de variables disponibles (columnas) = {} '.format(x2.columns.shape[0]))
print('Columnas que cuentan con un valor nulo -')
print(x2.isnull().sum())

Número de observaciones (filas) = 8693
Total de variables disponibles (columnas) = 14
Columnas que cuentan con un valor nulo -
PassengerId       0
HomePlanet      201
CryoSleep       217
Cabin           199
Destination     182
Age             179
VIP             203
RoomService     181
FoodCourt       183
ShoppingMall    208
Spa             183
VRDeck          188
Name            200
Transported       0
dtype: int64

# Limpiar Datos del Dataframe x2

In [157]:
x2.head(10)

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
0,0001_01,Europa,False,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,False
1,0002_01,Earth,False,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,Juanna Vines,True
2,0003_01,Europa,False,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,False
3,0003_02,Europa,False,A/0/S,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,False
4,0004_01,Earth,False,F/1/S,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,Willy Santantines,True
5,0005_01,Earth,False,F/0/P,PSO J318.5-22,44.0,False,0.0,483.0,0.0,291.0,0.0,Sandie Hinetthews,True
6,0006_01,Earth,False,F/2/S,TRAPPIST-1e,26.0,False,42.0,1539.0,3.0,0.0,0.0,Billex Jacostaffey,True
7,0006_02,Earth,True,G/0/S,TRAPPIST-1e,28.0,False,0.0,0.0,0.0,0.0,NaN,Candra Jacostaffey,True
8,0007_01,Earth,False,F/3/S,TRAPPIST-1e,35.0,False,0.0,785.0,17.0,216.0,0.0,Andona Beston,True
9,0008_01,Europa,True,B/1/P,55 Cancri e,14.0,False,0.0,0.0,0.0,0.0,0.0,Erraiam Flatic,True

In [158]:
x2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8693 entries, 0 to 8692
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   PassengerId   8693 non-null   object
 1   HomePlanet    8492 non-null   object
 2   CryoSleep     8476 non-null   object
 3   Cabin         8494 non-null   object
 4   Destination   8511 non-null   object
 5   Age           8514 non-null   float64
 6   VIP           8490 non-null   object
 7   RoomService   8512 non-null   float64
 8   FoodCourt     8510 non-null   float64
 9   ShoppingMall  8485 non-null   float64
 10  Spa           8510 non-null   float64
 11  VRDeck        8505 non-null   float64
 12  Name          8493 non-null   object
 13  Transported   8693 non-null   bool
dtypes: bool(1), float64(6), object(7)
memory usage: 891.5+ KB

In [159]:
x2[['Age','RoomService','FoodCourt','ShoppingMall','Spa','VRDeck']].corr()

,Age,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck
Age,1.000000,0.068723,0.130421,0.033133,0.123970,0.101007
RoomService,0.068723,1.000000,-0.015889,0.054480,0.010080,-0.019581
FoodCourt,0.130421,-0.015889,1.000000,-0.014228,0.221891,0.227995
ShoppingMall,0.033133,0.054480,-0.014228,1.000000,0.013879,-0.007322
Spa,0.123970,0.010080,0.221891,0.013879,1.000000,0.153821
VRDeck,0.101007,-0.019581,0.227995,-0.007322,0.153821,1.000000

In [160]:
from sklearn.impute import KNNImputer
from sklearn.preprocessing import StandardScaler

In [161]:
# Columnas a imputar:
columna_impute = ['Age','RoomService','FoodCourt','ShoppingMall','Spa','VRDeck']
# Imputar los valores faltantes usando k-Nearest Neighbor {K - Vecinos más cercanos}
imputer = KNNImputer(n_neighbors=2)
x2[columna_impute] = imputer.fit_transform(x2[columna_impute]).round()
# Escalar los valores usando StandardScaler
scaler = StandardScaler()
x2[columna_impute] = scaler.fit_transform(x2[columna_impute])

In [162]:
x2.isnull().sum()

PassengerId       0
HomePlanet      201
CryoSleep       217
Cabin           199
Destination     182
Age               0
VIP             203
RoomService       0
FoodCourt         0
ShoppingMall      0
Spa               0
VRDeck            0
Name            200
Transported       0
dtype: int64

In [163]:
x2['VIP'].value_counts()

VIP
False    8291
True      199
Name: count, dtype: int64

In [164]:
x2['Name'].fillna('Desconocido')

0         Maham Ofracculy
1            Juanna Vines
2           Altark Susent
3            Solam Susent
4       Willy Santantines
              ...
8688    Gravior Noxnuther
8689      Kurta Mondalley
8690         Fayey Connon
8691     Celeon Hontichre
8692     Propsh Hontichre
Name: Name, Length: 8693, dtype: object

In [165]:
from sklearn.preprocessing import OneHotEncoder

In [166]:
# Seleccionar la columna que se va a codificar
categoria_column = ['HomePlanet','CryoSleep','Cabin','Destination','VIP']

# Encoder
encoder = OneHotEncoder(sparse_output=False, drop='first')
encoded_data = encoder.fit_transform(x2[categoria_column])

# Convertir en DataFrame
encoded_columns = encoder.get_feature_names_out(categoria_column)
encoded_df = pd.DataFrame(encoded_data, columns=encoded_columns)

# Concatenar los datos codificados con el DataFrame original
x2 = pd.concat([x2.reset_index(drop=True), encoded_df.reset_index(drop=True)], axis=1)

print(x2.head())

  PassengerId HomePlanet CryoSleep  Cabin  Destination       Age    VIP  \
0     0001_01     Europa     False  B/0/P  TRAPPIST-1e  0.703117  False
1     0002_01      Earth     False  F/0/S  TRAPPIST-1e -0.339398  False
2     0003_01     Europa     False  A/0/S  TRAPPIST-1e  2.023635   True
3     0003_02     Europa     False  A/0/S  TRAPPIST-1e  0.286111  False
4     0004_01      Earth     False  F/1/S  TRAPPIST-1e -0.895406  False

   RoomService  FoodCourt  ShoppingMall  ...  Cabin_T/1/P  Cabin_T/2/P  \
0    -0.337223  -0.283183     -0.288141  ...          0.0          0.0
1    -0.173188  -0.277573     -0.246390  ...          0.0          0.0
2    -0.272512   1.945820     -0.288141  ...          0.0          0.0
3    -0.337223   0.516541      0.331442  ...          0.0          0.0
4     0.118764  -0.239550     -0.035965  ...          0.0          0.0

  Cabin_T/2/S  Cabin_T/3/P  Cabin_nan  Destination_PSO J318.5-22  \
0         0.0          0.0        0.0                        0.0
1         0.0          0.0        0.0                        0.0
2         0.0          0.0        0.0                        0.0
3         0.0          0.0        0.0                        0.0
4         0.0          0.0        0.0                        0.0

   Destination_TRAPPIST-1e  Destination_nan  VIP_True  VIP_nan
0                      1.0              0.0       0.0      0.0
1                      1.0              0.0       0.0      0.0
2                      1.0              0.0       1.0      0.0
3                      1.0              0.0       0.0      0.0
4                      1.0              0.0       0.0      0.0

[5 rows x 6584 columns]

In [167]:
# Eliminar las columnas originales categóricas
x2.drop(columns=categoria_column, inplace=True)

# Asegurarse de que todas las columnas sean numéricas antes de imputar
non_numeric_columns = x2.select_dtypes(include=['object']).columns
x2.drop(columns=non_numeric_columns, inplace=True)

# Imputar los valores faltantes usando k-Nearest Neighbor (KNN)
imputer = KNNImputer(n_neighbors=2)
x2 = pd.DataFrame(imputer.fit_transform(x2), columns=x2.columns)

print(x2.head())
print(x2.isnull().sum())

        Age  RoomService  FoodCourt  ShoppingMall       Spa    VRDeck  \
0  0.703117    -0.337223  -0.283183     -0.288141 -0.272974 -0.265933
1 -0.339398    -0.173188  -0.277573     -0.246390  0.214261 -0.227237
2  2.023635    -0.272512   1.945820     -0.288141  5.686549 -0.222839
3  0.286111    -0.337223   0.516541      0.331442  2.681494 -0.096198
4 -0.895406     0.118764  -0.239550     -0.035965  0.228461 -0.264174

   Transported  HomePlanet_Europa  HomePlanet_Mars  HomePlanet_nan  ...  \
0          0.0                1.0              0.0             0.0  ...
1          1.0                0.0              0.0             0.0  ...
2          0.0                1.0              0.0             0.0  ...
3          0.0                1.0              0.0             0.0  ...
4          1.0                0.0              0.0             0.0  ...

   Cabin_T/1/P  Cabin_T/2/P  Cabin_T/2/S  Cabin_T/3/P  Cabin_nan  \
0          0.0          0.0          0.0          0.0        0.0
1          0.0          0.0          0.0          0.0        0.0
2          0.0          0.0          0.0          0.0        0.0
3          0.0          0.0          0.0          0.0        0.0
4          0.0          0.0          0.0          0.0        0.0

   Destination_PSO J318.5-22  Destination_TRAPPIST-1e  Destination_nan  \
0                        0.0                      1.0              0.0
1                        0.0                      1.0              0.0
2                        0.0                      1.0              0.0
3                        0.0                      1.0              0.0
4                        0.0                      1.0              0.0

   VIP_True  VIP_nan
0       0.0      0.0
1       0.0      0.0
2       1.0      0.0
3       0.0      0.0
4       0.0      0.0

[5 rows x 6577 columns]
Age                          0
RoomService                  0
FoodCourt                    0
ShoppingMall                 0
Spa                          0
                            ..
Destination_PSO J318.5-22    0
Destination_TRAPPIST-1e      0
Destination_nan              0
VIP_True                     0
VIP_nan                      0
Length: 6577, dtype: int64