In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import warnings
def custom_warning_format(message, category, filename, lineno, file=None, line=None):
    return f'{filename}:{lineno}: {category.__name__}: {message}\n'

In [3]:
x1 = pd.read_csv('C:/Users/FRANK/Desktop/Proyectos Linkedin/Python Proyectos/Dia 10/test.csv')  # Utilizar la data de train.csv para hallar la data de test.csv
x2 = pd.read_csv('C:/Users/FRANK/Desktop/Proyectos Linkedin/Python Proyectos/Dia 10/train.csv') # Trabajar con este dataset

In [4]:

print('Número de observaciones (filas) = {}'.format(x1.shape[0]))
print('Total de variables disponibles (columnas) = {} '.format(x1.columns.shape[0]))
print('Columnas que cuentan con un valor nulo -')
print(x1.isnull().sum())

Número de observaciones (filas) = 4277
Total de variables disponibles (columnas) = 13
Columnas que cuentan con un valor nulo -
PassengerId       0
HomePlanet       87
CryoSleep        93
Cabin           100
Destination      92
Age              91
VIP              93
RoomService      82
FoodCourt       106
ShoppingMall     98
Spa             101
VRDeck           80
Name             94
dtype: int64

In [5]:

print('Número de observaciones (filas) = {}'.format(x2.shape[0]))
print('Total de variables disponibles (columnas) = {} '.format(x2.columns.shape[0]))
print('Columnas que cuentan con un valor nulo -')
print(x2.isnull().sum())

Número de observaciones (filas) = 8693
Total de variables disponibles (columnas) = 14
Columnas que cuentan con un valor nulo -
PassengerId       0
HomePlanet      201
CryoSleep       217
Cabin           199
Destination     182
Age             179
VIP             203
RoomService     181
FoodCourt       183
ShoppingMall    208
Spa             183
VRDeck          188
Name            200
Transported       0
dtype: int64

# Limpiar Datos del Dataframe x2

In [6]:
x2.head(10)

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
0,0001_01,Europa,False,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,False
1,0002_01,Earth,False,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,Juanna Vines,True
2,0003_01,Europa,False,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,False
3,0003_02,Europa,False,A/0/S,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,False
4,0004_01,Earth,False,F/1/S,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,Willy Santantines,True
5,0005_01,Earth,False,F/0/P,PSO J318.5-22,44.0,False,0.0,483.0,0.0,291.0,0.0,Sandie Hinetthews,True
6,0006_01,Earth,False,F/2/S,TRAPPIST-1e,26.0,False,42.0,1539.0,3.0,0.0,0.0,Billex Jacostaffey,True
7,0006_02,Earth,True,G/0/S,TRAPPIST-1e,28.0,False,0.0,0.0,0.0,0.0,NaN,Candra Jacostaffey,True
8,0007_01,Earth,False,F/3/S,TRAPPIST-1e,35.0,False,0.0,785.0,17.0,216.0,0.0,Andona Beston,True
9,0008_01,Europa,True,B/1/P,55 Cancri e,14.0,False,0.0,0.0,0.0,0.0,0.0,Erraiam Flatic,True

In [7]:
x2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8693 entries, 0 to 8692
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   PassengerId   8693 non-null   object
 1   HomePlanet    8492 non-null   object
 2   CryoSleep     8476 non-null   object
 3   Cabin         8494 non-null   object
 4   Destination   8511 non-null   object
 5   Age           8514 non-null   float64
 6   VIP           8490 non-null   object
 7   RoomService   8512 non-null   float64
 8   FoodCourt     8510 non-null   float64
 9   ShoppingMall  8485 non-null   float64
 10  Spa           8510 non-null   float64
 11  VRDeck        8505 non-null   float64
 12  Name          8493 non-null   object
 13  Transported   8693 non-null   bool
dtypes: bool(1), float64(6), object(7)
memory usage: 891.5+ KB

In [8]:
x2[['Age','RoomService','FoodCourt','ShoppingMall','Spa','VRDeck']].corr()

,Age,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck
Age,1.000000,0.068723,0.130421,0.033133,0.123970,0.101007
RoomService,0.068723,1.000000,-0.015889,0.054480,0.010080,-0.019581
FoodCourt,0.130421,-0.015889,1.000000,-0.014228,0.221891,0.227995
ShoppingMall,0.033133,0.054480,-0.014228,1.000000,0.013879,-0.007322
Spa,0.123970,0.010080,0.221891,0.013879,1.000000,0.153821
VRDeck,0.101007,-0.019581,0.227995,-0.007322,0.153821,1.000000

In [9]:
from sklearn.impute import KNNImputer
from sklearn.preprocessing import StandardScaler

In [10]:
# Columnas a imputar:
columna_impute = ['Age','RoomService','FoodCourt','ShoppingMall','Spa','VRDeck']
# Imputar los valores faltantes usando k-Nearest Neighbor {K - Vecinos más cercanos}
imputer = KNNImputer(n_neighbors=2)
x2[columna_impute] = imputer.fit_transform(x2[columna_impute]).round()
# Escalar los valores usando StandardScaler
scaler = StandardScaler()
x2[columna_impute] = scaler.fit_transform(x2[columna_impute])

In [11]:
x2.isnull().sum()

PassengerId       0
HomePlanet      201
CryoSleep       217
Cabin           199
Destination     182
Age               0
VIP             203
RoomService       0
FoodCourt         0
ShoppingMall      0
Spa               0
VRDeck            0
Name            200
Transported       0
dtype: int64

In [12]:
x2['VIP'].value_counts()

VIP
False    8291
True      199
Name: count, dtype: int64

In [19]:
x2['Name'].value_counts()

Name
Gollux Reedall        2
Elaney Webstephrey    2
Grake Porki           2
Sus Coolez            2
Apix Wala             2
                     ..
Jamela Griffy         1
Hardy Griffy          1
Salley Mckinn         1
Mall Frasp            1
Propsh Hontichre      1
Name: count, Length: 8473, dtype: int64

In [14]:
x2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8693 entries, 0 to 8692
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   PassengerId   8693 non-null   object
 1   HomePlanet    8492 non-null   object
 2   CryoSleep     8476 non-null   object
 3   Cabin         8494 non-null   object
 4   Destination   8511 non-null   object
 5   Age           8693 non-null   float64
 6   VIP           8490 non-null   object
 7   RoomService   8693 non-null   float64
 8   FoodCourt     8693 non-null   float64
 9   ShoppingMall  8693 non-null   float64
 10  Spa           8693 non-null   float64
 11  VRDeck        8693 non-null   float64
 12  Name          8493 non-null   object
 13  Transported   8693 non-null   bool
dtypes: bool(1), float64(6), object(7)
memory usage: 891.5+ KB

In [13]:
x2.head()

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
0,0001_01,Europa,False,B/0/P,TRAPPIST-1e,0.703117,False,-0.337223,-0.283183,-0.288141,-0.272974,-0.265933,Maham Ofracculy,False
1,0002_01,Earth,False,F/0/S,TRAPPIST-1e,-0.339398,False,-0.173188,-0.277573,-0.246390,0.214261,-0.227237,Juanna Vines,True
2,0003_01,Europa,False,A/0/S,TRAPPIST-1e,2.023635,True,-0.272512,1.945820,-0.288141,5.686549,-0.222839,Altark Susent,False
3,0003_02,Europa,False,A/0/S,TRAPPIST-1e,0.286111,False,-0.337223,0.516541,0.331442,2.681494,-0.096198,Solam Susent,False
4,0004_01,Earth,False,F/1/S,TRAPPIST-1e,-0.895406,False,0.118764,-0.239550,-0.035965,0.228461,-0.264174,Willy Santantines,True

In [15]:
from sklearn.preprocessing import OneHotEncoder

In [23]:
# Seleccionar la columna que se va a codificar
categoria_column = ['HomePlanet','CryoSleep','Cabin','Destination','VIP']

# Encoder
encoder = OneHotEncoder(sparse_output=False, drop='first')
encoded_data = encoder.fit_transform(categoria_column)

# Convertir en DataFrame
encoded_columns = encoder.get_feature_names_out(encoder)
encoded_df = pd.DataFrame(encoded_data, columns=encoded_columns)

# Concatenar los datos codificados con el DataFrame original
x2 = pd.concat([x2.reset_index(drop=True), encoded_df.reset_index(drop=True)], axis=1)

print(x2.head())

ValueError: Expected 2D array, got 1D array instead:
array=['HomePlanet' 'CryoSleep' 'Cabin' 'Destination' 'VIP'].
Reshape your data either using array.reshape(-1, 1) if your data has a single feature or array.reshape(1, -1) if it contains a single sample.