In [139]:
import pandas as pd
import numpy as np
from sklearn.impute import KNNImputer
import matplotlib.pyplot as plt
import warnings
import seaborn as sns
from sklearn.preprocessing import OneHotEncoder
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split, cross_val_score, GridSearchCV
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report
import joblib
from sklearn.feature_extraction.text import CountVectorizer

Paso 1: Recolección del Texto
Supongamos que tenemos dos oraciones:

1. "El gato se sienta en la alfombra."
2. "El perro se acuesta en la alfombra."

In [181]:
# ['El', 'gato', 'se', 'sienta', 'en', 'la', 'alfombra', 'perro', 'acuesta']

In [182]:
#  "El gato se sienta en la alfombra."
# [ 1,  1,   1,  1,    1, 1,   1,

In [ ]:
# "El perro se acuesta en la alfombra."

# [1, , 1,  1, 1, 1, 1, 1]

In [140]:
x1 =  pd.read_csv('C:/Users/FRANK/Desktop/Proyectos Linkedin/Python Proyectos/Dia 16/train.csv') # Trabajar con este dataset
x2 =  pd.read_csv('C:/Users/FRANK/Desktop/Proyectos Linkedin/Python Proyectos/Dia 16/test.csv') # Hallar dataset con train.csv
x1.head()

,id,keyword,location,text,target
0,1,NaN,NaN,Our Deeds are the Reason of this #earthquake M...,1
1,4,NaN,NaN,Forest fire near La Ronge Sask. Canada,1
2,5,NaN,NaN,All residents asked to 'shelter in place' are ...,1
3,6,NaN,NaN,"13,000 people receive #wildfires evacuation or...",1
4,7,NaN,NaN,Just got sent this photo from Ruby #Alaska as ...,1

In [141]:
print('Número de observaciones (filas) = {}'.format(x1.shape[0]))
print('Total de variables disponibles (columnas) = {} '.format(x1.columns.shape[0]))
print('Columnas que cuentan con un valor nulo -')
print(x1.isnull().sum())

Número de observaciones (filas) = 7613
Total de variables disponibles (columnas) = 5
Columnas que cuentan con un valor nulo -
id             0
keyword       61
location    2533
text           0
target         0
dtype: int64

In [142]:
x1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7613 entries, 0 to 7612
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        7613 non-null   int64
 1   keyword   7552 non-null   object
 2   location  5080 non-null   object
 3   text      7613 non-null   object
 4   target    7613 non-null   int64
dtypes: int64(2), object(3)
memory usage: 297.5+ KB

In [143]:
x1['keyword'].value_counts()

keyword
fatalities               45
deluge                   42
armageddon               42
sinking                  41
damage                   41
                         ..
forest%20fire            19
epicentre                12
threat                   11
inundation               10
radiation%20emergency     9
Name: count, Length: 221, dtype: int64

 # Limpiando el texto de X1

In [144]:
x1['keyword'].fillna('none',inplace=True)
x1['location'].fillna('none',inplace=True)

C:\Users\FRANK\AppData\Local\Temp\ipykernel_972\1173858714.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  x1['keyword'].fillna('none',inplace=True)
C:\Users\FRANK\AppData\Local\Temp\ipykernel_972\1173858714.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  x1['location'].fillna('none',inplace=True)

In [145]:
x1.isnull().sum()

id          0
keyword     0
location    0
text        0
target      0
dtype: int64

In [146]:
# Función de limpieza de texto
import re


def clean_text(text):
    # Eliminar URLs
    text = re.sub(r'http\S+|www\S+|https\S+', '', text, flags=re.MULTILINE)
    # Eliminar menciones de usuarios
    text = re.sub(r'@\w+', '', text)
    # Eliminar hashtags
    text = re.sub(r'#', '', text)
    # Eliminar puntuación
    text = re.sub(r'[^\w\s]', '', text)
    # Convertir a minúsculas
    text = text.lower()
    # Tokenizar el texto (dividir en palabras)
    tokens = text.split()
    # Unir las palabras de nuevo en una sola cadena
    cleaned_text = ' '.join(tokens)
    return cleaned_text

# Aplicar la función de limpieza al texto
x1['cleaned_text'] = x1['text'].apply(clean_text)

In [147]:
x1['text'].unique()

array(['Our Deeds are the Reason of this #earthquake May ALLAH Forgive us all',
       'Forest fire near La Ronge Sask. Canada',
       "All residents asked to 'shelter in place' are being notified by officers. No other evacuation or shelter in place orders are expected",
       ...,
       'Suicide bomber kills 15 in Saudi security site mosque - Reuters via World - Google News - Wall ... http://t.co/nF4IculOje',
       'Two giant cranes holding a bridge collapse into nearby homes http://t.co/STfMbbZFB5',
       'The Latest: More Homes Razed by Northern California Wildfire - ABC News http://t.co/YmY4rSkQ3d'],
      dtype=object)

In [148]:
x1['cleaned_text'].unique()

array(['our deeds are the reason of this earthquake may allah forgive us all',
       'forest fire near la ronge sask canada',
       'all residents asked to shelter in place are being notified by officers no other evacuation or shelter in place orders are expected',
       ...,
       'officials say a quarantine is in place at an alabama home over a possible ebola case after developing symptoms',
       'on the flip side im at walmart and there is a bomb and everyone had to evacuate so stay tuned if i blow up or not',
       'suicide bomber kills 15 in saudi security site mosque reuters via world google news wall'],
      dtype=object)

In [149]:
# Función de limpieza de texto
def clean_text_location(location):
    # Eliminar URLs
    location = re.sub(r'http\S+|www\S+|https\S+', '', location, flags=re.MULTILINE)
    # Eliminar menciones de usuarios
    location = re.sub(r'@\w+', '', location)
    # Eliminar hashtags
    location = re.sub(r'#', '', location)
    # Eliminar puntuación
    location = re.sub(r'[^\w\s]', '', location)
    # Convertir a minúsculas
    location = location.lower()
    # Tokenizar el texto (dividir en palabras)
    tokens = location.split()
    # Unir las palabras de nuevo en una sola cadena
    cleaned_location = ' '.join(tokens)
    return cleaned_location

# Aplicar la función de limpieza al texto
x1['cleaned_location'] = x1['location'].apply(clean_text_location)

In [150]:
x1['location'].unique()

array(['none', 'Birmingham', 'Est. September 2012 - Bristol', ...,
       'Vancouver, Canada', 'London ', 'Lincoln'], dtype=object)

In [151]:
x1['cleaned_location'].unique()

array(['none', 'birmingham', 'est september 2012 bristol', ...,
       'denton texas', 'newcastleupontyne uk', 'lincoln'], dtype=object)

In [152]:
# Función de limpieza de palabras clave
def clean_text_keyword(keyword):
    # Eliminar URLs
    keyword = re.sub(r'http\S+|www\S+|https\S+', '', keyword, flags=re.MULTILINE)
    # Eliminar menciones de usuarios
    keyword = re.sub(r'@\w+', '', keyword)
    # Eliminar hashtags
    keyword = re.sub(r'#', '', keyword)
    # Eliminar puntuación
    keyword = re.sub(r'[^\w\s]', '', keyword)
    # Convertir a minúsculas
    keyword = keyword.lower()
    # Eliminar palabras seguidas de números
    keyword = re.sub(r'\b\w*\d\w*\b', '', keyword)
    # Tokenizar el texto (dividir en palabras)
    tokens = keyword.split()
    # Unir las palabras de nuevo en una sola cadena
    cleaned_keyword = ' '.join(tokens)
    return cleaned_keyword

# Aplicar la función de limpieza a las palabras clave
x1['cleaned_keyword'] = x1['keyword'].apply(clean_text_keyword)

In [153]:
x1['keyword'].unique()

array(['none', 'ablaze', 'accident', 'aftershock', 'airplane%20accident',
       'ambulance', 'annihilated', 'annihilation', 'apocalypse',
       'armageddon', 'army', 'arson', 'arsonist', 'attack', 'attacked',
       'avalanche', 'battle', 'bioterror', 'bioterrorism', 'blaze',
       'blazing', 'bleeding', 'blew%20up', 'blight', 'blizzard', 'blood',
       'bloody', 'blown%20up', 'body%20bag', 'body%20bagging',
       'body%20bags', 'bomb', 'bombed', 'bombing', 'bridge%20collapse',
       'buildings%20burning', 'buildings%20on%20fire', 'burned',
       'burning', 'burning%20buildings', 'bush%20fires', 'casualties',
       'casualty', 'catastrophe', 'catastrophic', 'chemical%20emergency',
       'cliff%20fall', 'collapse', 'collapsed', 'collide', 'collided',
       'collision', 'crash', 'crashed', 'crush', 'crushed', 'curfew',
       'cyclone', 'damage', 'danger', 'dead', 'death', 'deaths', 'debris',
       'deluge', 'deluged', 'demolish', 'demolished', 'demolition',
       'derail', 'derailed', 'derailment', 'desolate', 'desolation',
       'destroy', 'destroyed', 'destruction', 'detonate', 'detonation',
       'devastated', 'devastation', 'disaster', 'displaced', 'drought',
       'drown', 'drowned', 'drowning', 'dust%20storm', 'earthquake',
       'electrocute', 'electrocuted', 'emergency', 'emergency%20plan',
       'emergency%20services', 'engulfed', 'epicentre', 'evacuate',
       'evacuated', 'evacuation', 'explode', 'exploded', 'explosion',
       'eyewitness', 'famine', 'fatal', 'fatalities', 'fatality', 'fear',
       'fire', 'fire%20truck', 'first%20responders', 'flames',
       'flattened', 'flood', 'flooding', 'floods', 'forest%20fire',
       'forest%20fires', 'hail', 'hailstorm', 'harm', 'hazard',
       'hazardous', 'heat%20wave', 'hellfire', 'hijack', 'hijacker',
       'hijacking', 'hostage', 'hostages', 'hurricane', 'injured',
       'injuries', 'injury', 'inundated', 'inundation', 'landslide',
       'lava', 'lightning', 'loud%20bang', 'mass%20murder',
       'mass%20murderer', 'massacre', 'mayhem', 'meltdown', 'military',
       'mudslide', 'natural%20disaster', 'nuclear%20disaster',
       'nuclear%20reactor', 'obliterate', 'obliterated', 'obliteration',
       'oil%20spill', 'outbreak', 'pandemonium', 'panic', 'panicking',
       'police', 'quarantine', 'quarantined', 'radiation%20emergency',
       'rainstorm', 'razed', 'refugees', 'rescue', 'rescued', 'rescuers',
       'riot', 'rioting', 'rubble', 'ruin', 'sandstorm', 'screamed',
       'screaming', 'screams', 'seismic', 'sinkhole', 'sinking', 'siren',
       'sirens', 'smoke', 'snowstorm', 'storm', 'stretcher',
       'structural%20failure', 'suicide%20bomb', 'suicide%20bomber',
       'suicide%20bombing', 'sunk', 'survive', 'survived', 'survivors',
       'terrorism', 'terrorist', 'threat', 'thunder', 'thunderstorm',
       'tornado', 'tragedy', 'trapped', 'trauma', 'traumatised',
       'trouble', 'tsunami', 'twister', 'typhoon', 'upheaval',
       'violent%20storm', 'volcano', 'war%20zone', 'weapon', 'weapons',
       'whirlwind', 'wild%20fires', 'wildfire', 'windstorm', 'wounded',
       'wounds', 'wreck', 'wreckage', 'wrecked'], dtype=object)

In [154]:
x1['cleaned_keyword'].unique()

array(['none', 'ablaze', 'accident', 'aftershock', '', 'ambulance',
       'annihilated', 'annihilation', 'apocalypse', 'armageddon', 'army',
       'arson', 'arsonist', 'attack', 'attacked', 'avalanche', 'battle',
       'bioterror', 'bioterrorism', 'blaze', 'blazing', 'bleeding',
       'blight', 'blizzard', 'blood', 'bloody', 'bomb', 'bombed',
       'bombing', 'burned', 'burning', 'casualties', 'casualty',
       'catastrophe', 'catastrophic', 'collapse', 'collapsed', 'collide',
       'collided', 'collision', 'crash', 'crashed', 'crush', 'crushed',
       'curfew', 'cyclone', 'damage', 'danger', 'dead', 'death', 'deaths',
       'debris', 'deluge', 'deluged', 'demolish', 'demolished',
       'demolition', 'derail', 'derailed', 'derailment', 'desolate',
       'desolation', 'destroy', 'destroyed', 'destruction', 'detonate',
       'detonation', 'devastated', 'devastation', 'disaster', 'displaced',
       'drought', 'drown', 'drowned', 'drowning', 'earthquake',
       'electrocute', 'electrocuted', 'emergency', 'engulfed',
       'epicentre', 'evacuate', 'evacuated', 'evacuation', 'explode',
       'exploded', 'explosion', 'eyewitness', 'famine', 'fatal',
       'fatalities', 'fatality', 'fear', 'fire', 'flames', 'flattened',
       'flood', 'flooding', 'floods', 'hail', 'hailstorm', 'harm',
       'hazard', 'hazardous', 'hellfire', 'hijack', 'hijacker',
       'hijacking', 'hostage', 'hostages', 'hurricane', 'injured',
       'injuries', 'injury', 'inundated', 'inundation', 'landslide',
       'lava', 'lightning', 'massacre', 'mayhem', 'meltdown', 'military',
       'mudslide', 'obliterate', 'obliterated', 'obliteration',
       'outbreak', 'pandemonium', 'panic', 'panicking', 'police',
       'quarantine', 'quarantined', 'rainstorm', 'razed', 'refugees',
       'rescue', 'rescued', 'rescuers', 'riot', 'rioting', 'rubble',
       'ruin', 'sandstorm', 'screamed', 'screaming', 'screams', 'seismic',
       'sinkhole', 'sinking', 'siren', 'sirens', 'smoke', 'snowstorm',
       'storm', 'stretcher', 'sunk', 'survive', 'survived', 'survivors',
       'terrorism', 'terrorist', 'threat', 'thunder', 'thunderstorm',
       'tornado', 'tragedy', 'trapped', 'trauma', 'traumatised',
       'trouble', 'tsunami', 'twister', 'typhoon', 'upheaval', 'volcano',
       'weapon', 'weapons', 'whirlwind', 'wildfire', 'windstorm',
       'wounded', 'wounds', 'wreck', 'wreckage', 'wrecked'], dtype=object)

In [155]:
x1.head()

,id,keyword,location,text,target,cleaned_text,cleaned_location,cleaned_keyword
0,1,none,none,Our Deeds are the Reason of this #earthquake M...,1,our deeds are the reason of this earthquake ma...,none,none
1,4,none,none,Forest fire near La Ronge Sask. Canada,1,forest fire near la ronge sask canada,none,none
2,5,none,none,All residents asked to 'shelter in place' are ...,1,all residents asked to shelter in place are be...,none,none
3,6,none,none,"13,000 people receive #wildfires evacuation or...",1,13000 people receive wildfires evacuation orde...,none,none
4,7,none,none,Just got sent this photo from Ruby #Alaska as ...,1,just got sent this photo from ruby alaska as s...,none,none

# Limpiando el texto x2

In [156]:
x2.head()

   id keyword location                                               text
0   0     NaN      NaN                 Just happened a terrible car crash
1   2     NaN      NaN  Heard about #earthquake is different cities, s...
2   3     NaN      NaN  there is a forest fire at spot pond, geese are...
3   9     NaN      NaN           Apocalypse lighting. #Spokane #wildfires
4  11     NaN      NaN      Typhoon Soudelor kills 28 in China and Taiwan

In [157]:
print('Número de observaciones (filas) = {}'.format(x2.shape[0]))
print('Total de variables disponibles (columnas) = {} '.format(x2.columns.shape[0]))
print('Columnas que cuentan con un valor nulo -')
print(x2.isnull().sum())

Número de observaciones (filas) = 3263
Total de variables disponibles (columnas) = 4
Columnas que cuentan con un valor nulo -
id             0
keyword       26
location    1105
text           0
dtype: int64

In [158]:
x2['keyword'].fillna('none',inplace=True)
x2['location'].fillna('none',inplace=True)

C:\Users\FRANK\AppData\Local\Temp\ipykernel_972\2606751553.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  x2['keyword'].fillna('none',inplace=True)
C:\Users\FRANK\AppData\Local\Temp\ipykernel_972\2606751553.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  x2['location'].fillna('none',inplace=True)

In [159]:
# Función de limpieza de texto
def clean_text(text):
    # Eliminar URLs
    text = re.sub(r'http\S+|www\S+|https\S+', '', text, flags=re.MULTILINE)
    # Eliminar menciones de usuarios
    text = re.sub(r'@\w+', '', text)
    # Eliminar hashtags
    text = re.sub(r'#', '', text)
    # Eliminar puntuación
    text = re.sub(r'[^\w\s]', '', text)
    # Convertir a minúsculas
    text = text.lower()
    # Tokenizar el texto (dividir en palabras)
    tokens = text.split()
    # Unir las palabras de nuevo en una sola cadena
    cleaned_text = ' '.join(tokens)
    return cleaned_text

# Aplicar la función de limpieza al texto
x2['cleaned_text'] = x2['text'].apply(clean_text)

In [160]:
x2['text'].unique()

array(['Just happened a terrible car crash',
       'Heard about #earthquake is different cities, stay safe everyone.',
       'there is a forest fire at spot pond, geese are fleeing across the street, I cannot save them all',
       ..., 'Green Line derailment in Chicago http://t.co/UtbXLcBIuY',
       'MEG issues Hazardous Weather Outlook (HWO) http://t.co/3X6RBQJHn3',
       '#CityofCalgary has activated its Municipal Emergency Plan. #yycstorm'],
      dtype=object)

In [161]:
x2['cleaned_text'].unique()

array(['just happened a terrible car crash',
       'heard about earthquake is different cities stay safe everyone',
       'there is a forest fire at spot pond geese are fleeing across the street i cannot save them all',
       ..., 'green line derailment in chicago',
       'meg issues hazardous weather outlook hwo',
       'cityofcalgary has activated its municipal emergency plan yycstorm'],
      dtype=object)

In [162]:
# Función de limpieza de texto
def clean_text_location(location):
    # Eliminar URLs
    location = re.sub(r'http\S+|www\S+|https\S+', '', location, flags=re.MULTILINE)
    # Eliminar menciones de usuarios
    location = re.sub(r'@\w+', '', location)
    # Eliminar hashtags
    location = re.sub(r'#', '', location)
    # Eliminar puntuación
    location = re.sub(r'[^\w\s]', '', location)
    # Convertir a minúsculas
    location = location.lower()
    # Tokenizar el texto (dividir en palabras)
    tokens = location.split()
    # Unir las palabras de nuevo en una sola cadena
    cleaned_location = ' '.join(tokens)
    return cleaned_location

# Aplicar la función de limpieza al texto
x2['cleaned_location'] = x2['location'].apply(clean_text_location)

In [163]:
x2['location'].unique()

array(['none', 'London', "Niall's place | SAF 12 SQUAD |", ...,
       'Acey mountain islanddåÇTorontoåÈ', 'los angeles',
       'Brussels, Belgium'], dtype=object)

In [164]:
x2['cleaned_location'].unique()

array(['none', 'london', 'nialls place saf 12 squad', ...,
       'seattle washington', 'acey mountain islanddåçtorontoåè',
       'brussels belgium'], dtype=object)

In [165]:
# Función de limpieza de palabras clave
def clean_text_keyword(keyword):
    # Eliminar URLs
    keyword = re.sub(r'http\S+|www\S+|https\S+', '', keyword, flags=re.MULTILINE)
    # Eliminar menciones de usuarios
    keyword = re.sub(r'@\w+', '', keyword)
    # Eliminar hashtags
    keyword = re.sub(r'#', '', keyword)
    # Eliminar puntuación
    keyword = re.sub(r'[^\w\s]', '', keyword)
    # Convertir a minúsculas
    keyword = keyword.lower()
    # Eliminar palabras seguidas de números
    keyword = re.sub(r'\b\w*\d\w*\b', '', keyword)
    # Tokenizar el texto (dividir en palabras)
    tokens = keyword.split()
    # Unir las palabras de nuevo en una sola cadena
    cleaned_keyword = ' '.join(tokens)
    return cleaned_keyword

# Aplicar la función de limpieza a las palabras clave
x2['cleaned_keyword'] = x2['keyword'].apply(clean_text_keyword)

In [166]:
x2['keyword'].unique()

array(['none', 'ablaze', 'accident', 'aftershock', 'airplane%20accident',
       'ambulance', 'annihilated', 'annihilation', 'apocalypse',
       'armageddon', 'army', 'arson', 'arsonist', 'attack', 'attacked',
       'avalanche', 'battle', 'bioterror', 'bioterrorism', 'blaze',
       'blazing', 'bleeding', 'blew%20up', 'blight', 'blizzard', 'blood',
       'bloody', 'blown%20up', 'body%20bag', 'body%20bagging',
       'body%20bags', 'bomb', 'bombed', 'bombing', 'bridge%20collapse',
       'buildings%20burning', 'buildings%20on%20fire', 'burned',
       'burning', 'burning%20buildings', 'bush%20fires', 'casualties',
       'casualty', 'catastrophe', 'catastrophic', 'chemical%20emergency',
       'cliff%20fall', 'collapse', 'collapsed', 'collide', 'collided',
       'collision', 'crash', 'crashed', 'crush', 'crushed', 'curfew',
       'cyclone', 'damage', 'danger', 'dead', 'death', 'deaths', 'debris',
       'deluge', 'deluged', 'demolish', 'demolished', 'demolition',
       'derail', 'derailed', 'derailment', 'desolate', 'desolation',
       'destroy', 'destroyed', 'destruction', 'detonate', 'detonation',
       'devastated', 'devastation', 'disaster', 'displaced', 'drought',
       'drown', 'drowned', 'drowning', 'dust%20storm', 'earthquake',
       'electrocute', 'electrocuted', 'emergency', 'emergency%20plan',
       'emergency%20services', 'engulfed', 'epicentre', 'evacuate',
       'evacuated', 'evacuation', 'explode', 'exploded', 'explosion',
       'eyewitness', 'famine', 'fatal', 'fatalities', 'fatality', 'fear',
       'fire', 'fire%20truck', 'first%20responders', 'flames',
       'flattened', 'flood', 'flooding', 'floods', 'forest%20fire',
       'forest%20fires', 'hail', 'hailstorm', 'harm', 'hazard',
       'hazardous', 'heat%20wave', 'hellfire', 'hijack', 'hijacker',
       'hijacking', 'hostage', 'hostages', 'hurricane', 'injured',
       'injuries', 'injury', 'inundated', 'inundation', 'landslide',
       'lava', 'lightning', 'loud%20bang', 'mass%20murder',
       'mass%20murderer', 'massacre', 'mayhem', 'meltdown', 'military',
       'mudslide', 'natural%20disaster', 'nuclear%20disaster',
       'nuclear%20reactor', 'obliterate', 'obliterated', 'obliteration',
       'oil%20spill', 'outbreak', 'pandemonium', 'panic', 'panicking',
       'police', 'quarantine', 'quarantined', 'radiation%20emergency',
       'rainstorm', 'razed', 'refugees', 'rescue', 'rescued', 'rescuers',
       'riot', 'rioting', 'rubble', 'ruin', 'sandstorm', 'screamed',
       'screaming', 'screams', 'seismic', 'sinkhole', 'sinking', 'siren',
       'sirens', 'smoke', 'snowstorm', 'storm', 'stretcher',
       'structural%20failure', 'suicide%20bomb', 'suicide%20bomber',
       'suicide%20bombing', 'sunk', 'survive', 'survived', 'survivors',
       'terrorism', 'terrorist', 'threat', 'thunder', 'thunderstorm',
       'tornado', 'tragedy', 'trapped', 'trauma', 'traumatised',
       'trouble', 'tsunami', 'twister', 'typhoon', 'upheaval',
       'violent%20storm', 'volcano', 'war%20zone', 'weapon', 'weapons',
       'whirlwind', 'wild%20fires', 'wildfire', 'windstorm', 'wounded',
       'wounds', 'wreck', 'wreckage', 'wrecked'], dtype=object)

In [167]:
x2['cleaned_keyword'].unique()

array(['none', 'ablaze', 'accident', 'aftershock', '', 'ambulance',
       'annihilated', 'annihilation', 'apocalypse', 'armageddon', 'army',
       'arson', 'arsonist', 'attack', 'attacked', 'avalanche', 'battle',
       'bioterror', 'bioterrorism', 'blaze', 'blazing', 'bleeding',
       'blight', 'blizzard', 'blood', 'bloody', 'bomb', 'bombed',
       'bombing', 'burned', 'burning', 'casualties', 'casualty',
       'catastrophe', 'catastrophic', 'collapse', 'collapsed', 'collide',
       'collided', 'collision', 'crash', 'crashed', 'crush', 'crushed',
       'curfew', 'cyclone', 'damage', 'danger', 'dead', 'death', 'deaths',
       'debris', 'deluge', 'deluged', 'demolish', 'demolished',
       'demolition', 'derail', 'derailed', 'derailment', 'desolate',
       'desolation', 'destroy', 'destroyed', 'destruction', 'detonate',
       'detonation', 'devastated', 'devastation', 'disaster', 'displaced',
       'drought', 'drown', 'drowned', 'drowning', 'earthquake',
       'electrocute', 'electrocuted', 'emergency', 'engulfed',
       'epicentre', 'evacuate', 'evacuated', 'evacuation', 'explode',
       'exploded', 'explosion', 'eyewitness', 'famine', 'fatal',
       'fatalities', 'fatality', 'fear', 'fire', 'flames', 'flattened',
       'flood', 'flooding', 'floods', 'hail', 'hailstorm', 'harm',
       'hazard', 'hazardous', 'hellfire', 'hijack', 'hijacker',
       'hijacking', 'hostage', 'hostages', 'hurricane', 'injured',
       'injuries', 'injury', 'inundated', 'inundation', 'landslide',
       'lava', 'lightning', 'massacre', 'mayhem', 'meltdown', 'military',
       'mudslide', 'obliterate', 'obliterated', 'obliteration',
       'outbreak', 'pandemonium', 'panic', 'panicking', 'police',
       'quarantine', 'quarantined', 'rainstorm', 'razed', 'refugees',
       'rescue', 'rescued', 'rescuers', 'riot', 'rioting', 'rubble',
       'ruin', 'sandstorm', 'screamed', 'screaming', 'screams', 'seismic',
       'sinkhole', 'sinking', 'siren', 'sirens', 'smoke', 'snowstorm',
       'storm', 'stretcher', 'sunk', 'survive', 'survived', 'survivors',
       'terrorism', 'terrorist', 'threat', 'thunder', 'thunderstorm',
       'tornado', 'tragedy', 'trapped', 'trauma', 'traumatised',
       'trouble', 'tsunami', 'twister', 'typhoon', 'upheaval', 'volcano',
       'weapon', 'weapons', 'whirlwind', 'wildfire', 'windstorm',
       'wounded', 'wounds', 'wreck', 'wreckage', 'wrecked'], dtype=object)

In [168]:
x2.tail()

,id,keyword,location,text,cleaned_text,cleaned_location,cleaned_keyword
3258,10861,none,none,EARTHQUAKE SAFETY LOS ANGELES ÛÒ SAFETY FASTE...,earthquake safety los angeles ûò safety fasten...,none,none
3259,10865,none,none,Storm in RI worse than last hurricane. My city...,storm in ri worse than last hurricane my citya...,none,none
3260,10868,none,none,Green Line derailment in Chicago http://t.co/U...,green line derailment in chicago,none,none
3261,10874,none,none,MEG issues Hazardous Weather Outlook (HWO) htt...,meg issues hazardous weather outlook hwo,none,none
3262,10875,none,none,#CityofCalgary has activated its Municipal Eme...,cityofcalgary has activated its municipal emer...,none,none

# Eliminando columnas sin limpiar

In [169]:
x1.drop(columns=['keyword', 'location', 'text'], inplace=True)
x2.drop(columns=['keyword', 'location', 'text'], inplace=True)

In [170]:
x1.head()

,id,target,cleaned_text,cleaned_location,cleaned_keyword
0,1,1,our deeds are the reason of this earthquake ma...,none,none
1,4,1,forest fire near la ronge sask canada,none,none
2,5,1,all residents asked to shelter in place are be...,none,none
3,6,1,13000 people receive wildfires evacuation orde...,none,none
4,7,1,just got sent this photo from ruby alaska as s...,none,none

In [171]:
from sklearn.feature_extraction.text import CountVectorizer

# X1 volviendo a texto

In [172]:
# Vectorizar el texto
vectorizer = CountVectorizer()
X_train_bow = vectorizer.fit_transform(x1['cleaned_text'])
X_test_bow = vectorizer.transform(x2['cleaned_text'])

# Convertir el resultado del Bag of Words a un DataFrame
bow_train = pd.DataFrame(X_train_bow.toarray(), columns=vectorizer.get_feature_names_out())
bow_test = pd.DataFrame(X_test_bow.toarray(), columns=vectorizer.get_feature_names_out())

# Concatenar el Bag of Words con las columnas originales (sin las columnas eliminadas)
x1 = pd.concat([x1.reset_index(drop=True), bow_train], axis=1)
x1.head()

,id,target,cleaned_text,cleaned_location,cleaned_keyword,0011,001116,0025,005225,010156,...,ûïwe,ûïwhen,ûïyou,ûò,ûòthe,ûòåêcnbc,ûó,ûóher,ûókody,ûûif
0,1,1,our deeds are the reason of this earthquake ma...,none,none,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,4,1,forest fire near la ronge sask canada,none,none,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,5,1,all residents asked to shelter in place are be...,none,none,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,6,1,13000 people receive wildfires evacuation orde...,none,none,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,7,1,just got sent this photo from ruby alaska as s...,none,none,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

# X2 volviendo a texto

In [173]:
# Vectorizar el texto
vectorizer = CountVectorizer()
X_train_bow = vectorizer.fit_transform(x1['cleaned_text'])
X_test_bow = vectorizer.transform(x2['cleaned_text'])
    
# Convertir el resultado del Bag of Words a un DataFrame
bow_train = pd.DataFrame(X_train_bow.toarray(), columns=vectorizer.get_feature_names_out())
bow_test = pd.DataFrame(X_test_bow.toarray(), columns=vectorizer.get_feature_names_out())

# Concatenar el Bag of Words con las columnas originales (sin las columnas eliminadas)
x2 = pd.concat([x1.reset_index(drop=True), bow_train], axis=1)
x2.drop(columns=['cleaned_text'], inplace=True)

In [174]:
x1.drop(columns=['cleaned_text'], inplace=True)

In [175]:
x1.head()

,id,target,cleaned_location,cleaned_keyword,0011,001116,0025,005225,010156,010217,...,ûïwe,ûïwhen,ûïyou,ûò,ûòthe,ûòåêcnbc,ûó,ûóher,ûókody,ûûif
0,1,1,none,none,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,4,1,none,none,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,5,1,none,none,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,6,1,none,none,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,7,1,none,none,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [176]:
from sklearn.model_selection import train_test_split
X = x1.drop(columns=['target'])
y = x2['target']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [177]:
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report