In [453]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import warnings
def custom_warning_format(message, category, filename, lineno, file=None, line=None):
    return f'{filename}:{lineno}: {category.__name__}: {message}\n'

In [454]:
x1 = pd.read_csv('C:/Users/FRANK/Desktop/Proyectos Linkedin/Python Proyectos/Dia 7/euro_summary.csv', sep=';')
x2 = pd.read_csv('C:/Users/FRANK/Desktop/Proyectos Linkedin/Python Proyectos/Dia 7/Uefa Euro Cup General Statistics.csv', sep=';')
x3 = pd.read_csv('C:/Users/FRANK/Desktop/Proyectos Linkedin/Python Proyectos/Dia 7/Uefa Euro Cup Participated Teams General Statistics.csv')
x1.rename(columns={'Year': 'Year'}, inplace=True)
# Fusionar x1 y x2 usando la columna 'Year'
merged_1_2 = pd.merge(x1, x2, on='Year', how='outer')

In [455]:
print('Número de observaciones (filas) = {}'.format(merged_1_2.shape[0]))
print('Total de variables disponibles (columnas) = {} '.format(merged_1_2.columns.shape[0]))
print('Columnas que cuentan con un valor nulo -')
print(merged_1_2.isnull().sum())

Número de observaciones (filas) = 17
Total de variables disponibles (columnas) = 18
Columnas que cuentan con un valor nulo -
Year                         0
winner                       0
final                        0
result                       0
matches                      0
goals                        0
red_cards                    0
attendance                   0
attendance_avg               0
result_1                     1
result_2                     1
penal_1                      1
penal_2                      1
Host                         2
Champion                     2
Winning coach                2
Top scorer(s)                2
Player of the Tournament    11
dtype: int64

In [456]:
merged_1_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17 entries, 0 to 16
Data columns (total 18 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Year                      17 non-null     int64
 1   winner                    17 non-null     object
 2   final                     17 non-null     object
 3   result                    17 non-null     object
 4   matches                   17 non-null     int64
 5   goals                     17 non-null     int64
 6   red_cards                 17 non-null     int64
 7   attendance                17 non-null     int64
 8   attendance_avg            17 non-null     float64
 9   result_1                  16 non-null     float64
 10  result_2                  16 non-null     float64
 11  penal_1                   16 non-null     float64
 12  penal_2                   16 non-null     float64
 13  Host                      15 non-null     object
 14  Champion                  15 non-null     object
 15  Winning coach             15 non-null     object
 16  Top scorer(s)             15 non-null     object
 17  Player of the Tournament  6 non-null      object
dtypes: float64(5), int64(5), object(8)
memory usage: 2.5+ KB

In [457]:
merged_1_2 = merged_1_2.drop(columns=['Winning coach','Top scorer(s)','Player of the Tournament','result'])

In [458]:
merged_1_2.head(20)

,Year,winner,final,matches,goals,red_cards,attendance,attendance_avg,result_1,result_2,penal_1,penal_2,Host,Champion
0,1960,USSR,USSR - Yugoslavia,4,17,0,78958,19739.50,2.0,1.0,0.0,0.0,France,Soviet Union
1,1964,Spain,Spain - USSR,4,13,0,156253,39063.25,2.0,1.0,0.0,0.0,Spain,Spain
2,1968,Italy,Italy - Yugoslavia,5,7,1,260936,52187.20,2.0,0.0,0.0,0.0,Italy,Italy
3,1972,West Germany,West Germany - USSR,4,10,0,106510,26627.50,3.0,0.0,0.0,0.0,Belgium,West Germany
4,1976,Czechoslovakia,Czechoslovakia - West Germany,4,19,3,106087,26521.75,2.0,2.0,0.0,0.0,Yugoslavia,Czechoslovakia
5,1980,West Germany,Belgium - West Germany,14,27,0,350655,25046.79,1.0,2.0,5.0,3.0,Italy,West Germany
6,1984,France,France - Spain,15,41,3,599655,39977.00,2.0,0.0,0.0,0.0,France,France
7,1988,Netherlands,USSR - Netherlands,15,34,0,849844,56656.27,0.0,2.0,0.0,0.0,West Germany,Netherlands
8,1992,Denmark,Denmark - Germany,15,32,0,429833,28655.53,2.0,0.0,0.0,0.0,Sweden,Denmark
9,1996,Germany,Czechia - Germany,31,64,7,1276171,41166.81,1.0,2.0,0.0,0.0,England,Germany
10,2000,France,France - Italy,31,85,8,1126443,36336.87,2.0,1.0,0.0,0.0,Belgium Netherlands,France
11,2004,Greece,Portugal - Greece,31,77,6,1150802,37122.65,0.0,1.0,0.0,0.0,Portugal,Greece
12,2008,Spain,Germany - Spain,31,77,3,1143529,36888.03,0.0,1.0,0.0,0.0,Austria Switzerland,Spain
13,2012,Spain,Spain - Italy,31,76,3,1440613,46471.39,4.0,0.0,0.0,0.0,Poland Ukraine,Spain
14,2016,Portugal,Portugal - France,51,108,3,2427303,47594.18,1.0,0.0,0.0,0.0,France,Portugal
15,2020,Italy,Italy - England,51,142,6,1100278,21574.08,1.0,1.0,3.0,2.0,NaN,NaN
16,2024,-,W49 - W50,51,0,0,0,0.00,NaN,NaN,NaN,NaN,NaN,NaN

In [459]:
merged_1_2.loc[15,'Champion'] = 'Italy' 
merged_1_2.loc[15,'Host'] = 'England'
merged_1_2.loc[16,'Host'] = 'Germany'
merged_1_2[['winner', 'final']] = merged_1_2[['winner', 'final']].replace('USSR', 'Russia')

In [460]:
merged_1_2.head(50)

,Year,winner,final,matches,goals,red_cards,attendance,attendance_avg,result_1,result_2,penal_1,penal_2,Host,Champion
0,1960,Russia,USSR - Yugoslavia,4,17,0,78958,19739.50,2.0,1.0,0.0,0.0,France,Soviet Union
1,1964,Spain,Spain - USSR,4,13,0,156253,39063.25,2.0,1.0,0.0,0.0,Spain,Spain
2,1968,Italy,Italy - Yugoslavia,5,7,1,260936,52187.20,2.0,0.0,0.0,0.0,Italy,Italy
3,1972,West Germany,West Germany - USSR,4,10,0,106510,26627.50,3.0,0.0,0.0,0.0,Belgium,West Germany
4,1976,Czechoslovakia,Czechoslovakia - West Germany,4,19,3,106087,26521.75,2.0,2.0,0.0,0.0,Yugoslavia,Czechoslovakia
5,1980,West Germany,Belgium - West Germany,14,27,0,350655,25046.79,1.0,2.0,5.0,3.0,Italy,West Germany
6,1984,France,France - Spain,15,41,3,599655,39977.00,2.0,0.0,0.0,0.0,France,France
7,1988,Netherlands,USSR - Netherlands,15,34,0,849844,56656.27,0.0,2.0,0.0,0.0,West Germany,Netherlands
8,1992,Denmark,Denmark - Germany,15,32,0,429833,28655.53,2.0,0.0,0.0,0.0,Sweden,Denmark
9,1996,Germany,Czechia - Germany,31,64,7,1276171,41166.81,1.0,2.0,0.0,0.0,England,Germany
10,2000,France,France - Italy,31,85,8,1126443,36336.87,2.0,1.0,0.0,0.0,Belgium Netherlands,France
11,2004,Greece,Portugal - Greece,31,77,6,1150802,37122.65,0.0,1.0,0.0,0.0,Portugal,Greece
12,2008,Spain,Germany - Spain,31,77,3,1143529,36888.03,0.0,1.0,0.0,0.0,Austria Switzerland,Spain
13,2012,Spain,Spain - Italy,31,76,3,1440613,46471.39,4.0,0.0,0.0,0.0,Poland Ukraine,Spain
14,2016,Portugal,Portugal - France,51,108,3,2427303,47594.18,1.0,0.0,0.0,0.0,France,Portugal
15,2020,Italy,Italy - England,51,142,6,1100278,21574.08,1.0,1.0,3.0,2.0,England,Italy
16,2024,-,W49 - W50,51,0,0,0,0.00,NaN,NaN,NaN,NaN,Germany,NaN

In [461]:
# Remplazamos la palabra USSR por Rusia y Soviet Union por Rusia
merged_1_2[['team1', 'team2']] = merged_1_2['final'].str.split(' - ', expand=True)
merged_1_2[['team1','team2']] = merged_1_2[['team1','team2']].replace('USSR','Russia')
merged_1_2[['team1','team2']] = merged_1_2[['team1','team2']].replace('USSR','Russia')
merged_1_2[['Champion']] = merged_1_2[['Champion']].replace('Soviet Union','Russia')
# Eliminamos la columna final
merged_1_2 = merged_1_2.drop(columns=['final'])

# Remplazamos la palabra West Germany por Germany
merged_1_2[['winner','Host','Champion','team1','team2']] = merged_1_2[['winner','Host','Champion','team1','team2']].replace('West Germany','Germany')

In [462]:
merged_1_2

,Year,winner,matches,goals,red_cards,attendance,attendance_avg,result_1,result_2,penal_1,penal_2,Host,Champion,team1,team2
0,1960,Russia,4,17,0,78958,19739.50,2.0,1.0,0.0,0.0,France,Russia,Russia,Yugoslavia
1,1964,Spain,4,13,0,156253,39063.25,2.0,1.0,0.0,0.0,Spain,Spain,Spain,Russia
2,1968,Italy,5,7,1,260936,52187.20,2.0,0.0,0.0,0.0,Italy,Italy,Italy,Yugoslavia
3,1972,Germany,4,10,0,106510,26627.50,3.0,0.0,0.0,0.0,Belgium,Germany,Germany,Russia
4,1976,Czechoslovakia,4,19,3,106087,26521.75,2.0,2.0,0.0,0.0,Yugoslavia,Czechoslovakia,Czechoslovakia,Germany
5,1980,Germany,14,27,0,350655,25046.79,1.0,2.0,5.0,3.0,Italy,Germany,Belgium,Germany
6,1984,France,15,41,3,599655,39977.00,2.0,0.0,0.0,0.0,France,France,France,Spain
7,1988,Netherlands,15,34,0,849844,56656.27,0.0,2.0,0.0,0.0,Germany,Netherlands,Russia,Netherlands
8,1992,Denmark,15,32,0,429833,28655.53,2.0,0.0,0.0,0.0,Sweden,Denmark,Denmark,Germany
9,1996,Germany,31,64,7,1276171,41166.81,1.0,2.0,0.0,0.0,England,Germany,Czechia,Germany
10,2000,France,31,85,8,1126443,36336.87,2.0,1.0,0.0,0.0,Belgium Netherlands,France,France,Italy
11,2004,Greece,31,77,6,1150802,37122.65,0.0,1.0,0.0,0.0,Portugal,Greece,Portugal,Greece
12,2008,Spain,31,77,3,1143529,36888.03,0.0,1.0,0.0,0.0,Austria Switzerland,Spain,Germany,Spain
13,2012,Spain,31,76,3,1440613,46471.39,4.0,0.0,0.0,0.0,Poland Ukraine,Spain,Spain,Italy
14,2016,Portugal,51,108,3,2427303,47594.18,1.0,0.0,0.0,0.0,France,Portugal,Portugal,France
15,2020,Italy,51,142,6,1100278,21574.08,1.0,1.0,3.0,2.0,England,Italy,Italy,England
16,2024,-,51,0,0,0,0.00,NaN,NaN,NaN,NaN,Germany,NaN,W49,W50

In [463]:
merged_1_2['winner'].unique()

array(['Russia', 'Spain', 'Italy', 'Germany', 'Czechoslovakia', 'France',
       'Netherlands', 'Denmark', 'Greece', 'Portugal', '-'], dtype=object)

In [464]:
merged_1_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17 entries, 0 to 16
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Year            17 non-null     int64
 1   winner          17 non-null     object
 2   matches         17 non-null     int64
 3   goals           17 non-null     int64
 4   red_cards       17 non-null     int64
 5   attendance      17 non-null     int64
 6   attendance_avg  17 non-null     float64
 7   result_1        16 non-null     float64
 8   result_2        16 non-null     float64
 9   penal_1         16 non-null     float64
 10  penal_2         16 non-null     float64
 11  Host            17 non-null     object
 12  Champion        16 non-null     object
 13  team1           17 non-null     object
 14  team2           17 non-null     object
dtypes: float64(5), int64(5), object(5)
memory usage: 2.1+ KB

In [465]:
print('Columnas que cuentan con un valor nulo -')
print(merged_1_2.isnull().sum())

Columnas que cuentan con un valor nulo -
Year              0
winner            0
matches           0
goals             0
red_cards         0
attendance        0
attendance_avg    0
result_1          1
result_2          1
penal_1           1
penal_2           1
Host              0
Champion          1
team1             0
team2             0
dtype: int64

In [466]:
merged_1_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17 entries, 0 to 16
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Year            17 non-null     int64
 1   winner          17 non-null     object
 2   matches         17 non-null     int64
 3   goals           17 non-null     int64
 4   red_cards       17 non-null     int64
 5   attendance      17 non-null     int64
 6   attendance_avg  17 non-null     float64
 7   result_1        16 non-null     float64
 8   result_2        16 non-null     float64
 9   penal_1         16 non-null     float64
 10  penal_2         16 non-null     float64
 11  Host            17 non-null     object
 12  Champion        16 non-null     object
 13  team1           17 non-null     object
 14  team2           17 non-null     object
dtypes: float64(5), int64(5), object(5)
memory usage: 2.1+ KB

In [467]:
merged_1_2.head()

,Year,winner,matches,goals,red_cards,attendance,attendance_avg,result_1,result_2,penal_1,penal_2,Host,Champion,team1,team2
0,1960,Russia,4,17,0,78958,19739.50,2.0,1.0,0.0,0.0,France,Russia,Russia,Yugoslavia
1,1964,Spain,4,13,0,156253,39063.25,2.0,1.0,0.0,0.0,Spain,Spain,Spain,Russia
2,1968,Italy,5,7,1,260936,52187.20,2.0,0.0,0.0,0.0,Italy,Italy,Italy,Yugoslavia
3,1972,Germany,4,10,0,106510,26627.50,3.0,0.0,0.0,0.0,Belgium,Germany,Germany,Russia
4,1976,Czechoslovakia,4,19,3,106087,26521.75,2.0,2.0,0.0,0.0,Yugoslavia,Czechoslovakia,Czechoslovakia,Germany

# OneHotEncoder

Fruta       fruta_manzana   fruta_pera   naranja
0  manzana        1              0        0
1     pera        0              1        0
2  naranja        0              0        1
3  manzana        1              0        0
4  naranja        0              0        1

In [468]:
from sklearn.preprocessing import OneHotEncoder

In [469]:
# Guardar en variables
enc_column = ['winner','Champion','team1','team2']
categoria_column = merged_1_2[enc_column]

# Columnas numericas
enc_data = merged_1_2.drop(columns=enc_column)

# Encoder
encoder = OneHotEncoder(sparse_output=False, drop='first')
encoded_data = encoder.fit_transform(categoria_column)

# Convertir en dataframe
encoded_columns = encoder.get_feature_names_out(enc_column)
encoded_df = pd.DataFrame(encoded_data, columns=encoded_columns)

df2 = pd.concat([enc_data.reset_index(drop=True), encoded_df.reset_index(drop=True)], axis=1)

print(df2.head())

   Year  matches  goals  red_cards  attendance  attendance_avg  result_1  \
0  1960        4     17          0       78958        19739.50       2.0
1  1964        4     13          0      156253        39063.25       2.0
2  1968        5      7          1      260936        52187.20       2.0
3  1972        4     10          0      106510        26627.50       3.0
4  1976        4     19          3      106087        26521.75       2.0

   result_2  penal_1  penal_2  ... team1_W49  team2_France  team2_Germany  \
0       1.0      0.0      0.0  ...       0.0           0.0            0.0
1       1.0      0.0      0.0  ...       0.0           0.0            0.0
2       0.0      0.0      0.0  ...       0.0           0.0            0.0
3       0.0      0.0      0.0  ...       0.0           0.0            0.0
4       2.0      0.0      0.0  ...       0.0           0.0            1.0

   team2_Greece  team2_Italy  team2_Netherlands  team2_Russia  team2_Spain  \
0           0.0          0.0                0.0           0.0          0.0
1           0.0          0.0                0.0           1.0          0.0
2           0.0          0.0                0.0           0.0          0.0
3           0.0          0.0                0.0           1.0          0.0
4           0.0          0.0                0.0           0.0          0.0

   team2_W50  team2_Yugoslavia
0        0.0               1.0
1        0.0               0.0
2        0.0               1.0
3        0.0               0.0
4        0.0               0.0

[5 rows x 50 columns]

# Regresión logistica multimonial

In [470]:
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import OneHotEncoder
from sklearn.model_selection import train_test_split

In [471]:
# Asegurarse de que las columnas existen en merged_1_2
merged_1_2.columns = merged_1_2.columns.str.strip()
enc_column = ['winner', 'team1', 'team2']
target_column = 'Champion'

# Separar los datos en conjuntos de entrenamiento y prueba, considerando solo las filas sin valores nulos en 'Champion'
train_data = merged_1_2[merged_1_2[target_column].notna()]
test_data = merged_1_2[merged_1_2[target_column].isna()]

# Preprocesar los datos
encoder = OneHotEncoder(sparse_output=False, drop='first', handle_unknown='ignore')
X_train = encoder.fit_transform(train_data[enc_column])
X_test = encoder.transform(test_data[enc_column])
y_train = train_data[target_column]

# Crear y entrenar el modelo de regresión logística multinomial
model = LogisticRegression(multi_class='multinomial', solver='lbfgs', max_iter=1000)
model.fit(X_train, y_train)

# Predecir los valores nulos de 'Champion'
y_pred = model.predict(X_test)

# Llenar los valores nulos en el DataFrame original
merged_1_2.loc[merged_1_2[target_column].isna(), target_column] = y_pred

print(merged_1_2)

    Year          winner  matches  goals  red_cards  attendance  \
0   1960          Russia        4     17          0       78958
1   1964           Spain        4     13          0      156253
2   1968           Italy        5      7          1      260936
3   1972         Germany        4     10          0      106510
4   1976  Czechoslovakia        4     19          3      106087
5   1980         Germany       14     27          0      350655
6   1984          France       15     41          3      599655
7   1988     Netherlands       15     34          0      849844
8   1992         Denmark       15     32          0      429833
9   1996         Germany       31     64          7     1276171
10  2000          France       31     85          8     1126443
11  2004          Greece       31     77          6     1150802
12  2008           Spain       31     77          3     1143529
13  2012           Spain       31     76          3     1440613
14  2016        Portugal       51    108          3     2427303
15  2020           Italy       51    142          6     1100278
16  2024               -       51      0          0           0

    attendance_avg  result_1  result_2  penal_1  penal_2  \
0         19739.50       2.0       1.0      0.0      0.0
1         39063.25       2.0       1.0      0.0      0.0
2         52187.20       2.0       0.0      0.0      0.0
3         26627.50       3.0       0.0      0.0      0.0
4         26521.75       2.0       2.0      0.0      0.0
5         25046.79       1.0       2.0      5.0      3.0
6         39977.00       2.0       0.0      0.0      0.0
7         56656.27       0.0       2.0      0.0      0.0
8         28655.53       2.0       0.0      0.0      0.0
9         41166.81       1.0       2.0      0.0      0.0
10        36336.87       2.0       1.0      0.0      0.0
11        37122.65       0.0       1.0      0.0      0.0
12        36888.03       0.0       1.0      0.0      0.0
13        46471.39       4.0       0.0      0.0      0.0
14        47594.18       1.0       0.0      0.0      0.0
15        21574.08       1.0       1.0      3.0      2.0
16            0.00       NaN       NaN      NaN      NaN

                    Host        Champion           team1        team2
0                 France          Russia          Russia   Yugoslavia
1                  Spain           Spain           Spain       Russia
2                  Italy           Italy           Italy   Yugoslavia
3                Belgium         Germany         Germany       Russia
4             Yugoslavia  Czechoslovakia  Czechoslovakia      Germany
5                  Italy         Germany         Belgium      Germany
6                 France          France          France        Spain
7                Germany     Netherlands          Russia  Netherlands
8                 Sweden         Denmark         Denmark      Germany
9                England         Germany         Czechia      Germany
10  Belgium  Netherlands          France          France        Italy
11              Portugal          Greece        Portugal       Greece
12  Austria  Switzerland           Spain         Germany        Spain
13       Poland  Ukraine           Spain           Spain        Italy
14                France        Portugal        Portugal       France
15               England           Italy           Italy      England
16               Germany           Spain             W49          W50

c:\Users\FRANK\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\preprocessing\_encoders.py:241: UserWarning: Found unknown categories in columns [0, 1, 2] during transform. These unknown categories will be encoded as all zeros
  warnings.warn(

In [472]:
# Asumimos que tienes una copia del DataFrame original sin la imputación
original_merged_1_2 = merged_1_2.copy()

# Asegurarse de que las columnas existen en merged_1_2
merged_1_2.columns = merged_1_2.columns.str.strip()
enc_column = ['winner', 'team1', 'team2']
target_column = 'Champion'

# Verificar si hay valores nulos en la columna 'Champion'
null_values = original_merged_1_2[original_merged_1_2[target_column].isna()]
if null_values.empty:
    print("No hay valores nulos en la columna 'Champion'.")
else:
    # Separar los datos en conjuntos de entrenamiento y prueba, considerando solo las filas sin valores nulos en 'Champion'
    train_data = original_merged_1_2[original_merged_1_2[target_column].notna()]
    test_data = original_merged_1_2[original_merged_1_2[target_column].isna()]

    # Preprocesar los datos
    encoder = OneHotEncoder(sparse_output=False, drop='first', handle_unknown='ignore')
    X_train = encoder.fit_transform(train_data[enc_column])
    X_test = encoder.transform(test_data[enc_column])
    y_train = train_data[target_column]

    # Crear y entrenar el modelo de regresión logística multinomial
    model = LogisticRegression(multi_class='multinomial', solver='lbfgs', max_iter=1000)
    model.fit(X_train, y_train)

    # Predecir los valores nulos de 'Champion'
    y_pred = model.predict(X_test)

    # Llenar los valores nulos en el DataFrame original
    merged_1_2.loc[merged_1_2[target_column].isna(), target_column] = y_pred

    # Identificar las filas imputadas
    imputed_rows = original_merged_1_2[original_merged_1_2[target_column].isna()].copy()
    imputed_rows['Predicted_Champion'] = y_pred

    # Mostrar las filas imputadas con el valor predicho de 'Champion'
    print(imputed_rows[['Year', 'winner', 'team1', 'team2', 'Predicted_Champion']])

No hay valores nulos en la columna 'Champion'.

In [473]:
original_merged_1_2.head(50)

,Year,winner,matches,goals,red_cards,attendance,attendance_avg,result_1,result_2,penal_1,penal_2,Host,Champion,team1,team2
0,1960,Russia,4,17,0,78958,19739.50,2.0,1.0,0.0,0.0,France,Russia,Russia,Yugoslavia
1,1964,Spain,4,13,0,156253,39063.25,2.0,1.0,0.0,0.0,Spain,Spain,Spain,Russia
2,1968,Italy,5,7,1,260936,52187.20,2.0,0.0,0.0,0.0,Italy,Italy,Italy,Yugoslavia
3,1972,Germany,4,10,0,106510,26627.50,3.0,0.0,0.0,0.0,Belgium,Germany,Germany,Russia
4,1976,Czechoslovakia,4,19,3,106087,26521.75,2.0,2.0,0.0,0.0,Yugoslavia,Czechoslovakia,Czechoslovakia,Germany
5,1980,Germany,14,27,0,350655,25046.79,1.0,2.0,5.0,3.0,Italy,Germany,Belgium,Germany
6,1984,France,15,41,3,599655,39977.00,2.0,0.0,0.0,0.0,France,France,France,Spain
7,1988,Netherlands,15,34,0,849844,56656.27,0.0,2.0,0.0,0.0,Germany,Netherlands,Russia,Netherlands
8,1992,Denmark,15,32,0,429833,28655.53,2.0,0.0,0.0,0.0,Sweden,Denmark,Denmark,Germany
9,1996,Germany,31,64,7,1276171,41166.81,1.0,2.0,0.0,0.0,England,Germany,Czechia,Germany
10,2000,France,31,85,8,1126443,36336.87,2.0,1.0,0.0,0.0,Belgium Netherlands,France,France,Italy
11,2004,Greece,31,77,6,1150802,37122.65,0.0,1.0,0.0,0.0,Portugal,Greece,Portugal,Greece
12,2008,Spain,31,77,3,1143529,36888.03,0.0,1.0,0.0,0.0,Austria Switzerland,Spain,Germany,Spain
13,2012,Spain,31,76,3,1440613,46471.39,4.0,0.0,0.0,0.0,Poland Ukraine,Spain,Spain,Italy
14,2016,Portugal,51,108,3,2427303,47594.18,1.0,0.0,0.0,0.0,France,Portugal,Portugal,France
15,2020,Italy,51,142,6,1100278,21574.08,1.0,1.0,3.0,2.0,England,Italy,Italy,England
16,2024,-,51,0,0,0,0.00,NaN,NaN,NaN,NaN,Germany,Spain,W49,W50